<!DOCTYPE html>
<html>
  <head>
    <title>tudoo</title>
    <meta name = "viewport" content = "width=320; user-scalable=no; target-densityDpi=device-dpi;">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" type="text/css" href="normalize.css" />
    <link href='http://fonts.googleapis.com/css?family=Poly' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="app.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js" charset="utf-8"></script>
    <script type="text/javascript" src="app.js" charset="utf-8"></script>
  </head>
  <body>
    <script id="todo_widget" type="text/template">
      <h1>tudoo</h1>
      <ul id="items">
        <% _.each(items, function(item) { %>
          <li><label><%=item.text %></label></li>
        <% }); %>
      </ul>
      <fieldset>
        <form id="add_item_form">
          <input id="add_item_text" type="text" /><input id="add_item_submit" type="submit" value="Add" />
        </form>
      </fieldset>
    </script>
    <script id="todo_item" type="text/template">
      <li><label><%=item.text %></label></li>
    </script>
    <div id="seal">
      <a href="http://deldy.dk">a <strong>Deldy</strong> app</a>
    </div>
    <div id="container">
      <div id="screen">
        <h1>No Javascript</br>No fun</h1>
        <p>Enable Javascript to make this app work.<p/>
        <p><strong>Alternative:</strong> Use pen and paper</p>
      </div>
      <footer>
        The source is available on <a href="https://github.com/deldy/tudoo">github</a>
      </footer>
    </div>
  </body>
</html>